body {
    	background-color: #f5f5f5;
	}

	h1 {
	}

	.aBox{
		background-color: #fff;
		border-radius: 5px;
	}

	#navBox{
		margin-top: 25px;
		height:550px; 
		background-color:#fff; 
		border:1px solid #e5e5e5; 
		border-radius:25px;
	}

	#ticTacLogo{
		width:50%;
		height:100px;
	}

	.col-xs-3{
		font-size: 150px;
	}

	a:link {
	    color: black;
	    text-decoration: none;
	}

	/* visited link */
	a:visited {
	    color: black;
	    text-decoration: none;
	}

	/* mouse over link */
	a:hover {
	    color: black;
	    text-decoration: none;
	}

	/* selected link */
	a:active {
	    color: black;
	    text-decoration: none;
	}